.ant-popover-inner-content {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.mr-2 {
    margin-right: 2em;
}

.ml-2 {
    margin-left: 1em;
}

.w-6 {
    width: 6em;
}

.w-full {
    width: 100%;
}